.container {
  position: relative;
  height: 85vh;
  width: 100%;
}
.background {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/images/admission-process.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.card {
  position: absolute;
  background-color: #fff;
  border-radius: 0.25em;
  top: 7.5%;
  bottom: 7.5%;
  left: 5%;
  width: 80%;
  height: fit-content;
  z-index: 2;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-size: 1.5rem;
  margin: 0.5em 0em;
  /* margin-top: 1em; */
}

.paraText {
  width: 100%;
  font-size: 0.8em;
  line-height: 1.5;
  text-align: justify;
}

.admissionBtn {
  font-size: 1rem;
  padding: 1em;
  font-weight: 600;
  text-transform: capitalize;
  border: 0.5px solid #ddd !important;
  margin: 1em 0px;
  color: #fff;
  background-color: #213464;
  cursor: pointer;
  border-radius: 0.25em;
  transition: 0.3s all ease-out;
  width: fit-content;
}

.admissionBtn:hover {
  color: #213464;
  background-color: #fff;
}

@media screen and (min-width: 400px) {
  .container {
    height: 75vh;
  }
  .card {
    width: 70%;
  }
}

@media screen and (min-width: 500px) {
  .card {
    width: 66%;
  }
  .paraText {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 600px) {
  .card {
    width: 60%;
  }
}

@media screen and (min-width: 700px) {
  .card {
    width: 50%;
    /* height: 70%; */
  }
  .header {
    font-size: 1.2rem;
  }
  .paraText {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 800px) {
  .card {
    width: 50%;
  }
  .header {
    font-size: 1.3rem;
  }
  .paraText {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    width: 50%;
  }
  .header {
    font-size: 1.4rem;
  }
  .paraText {
    font-size: 1.1rem;
  }
}
