:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* @media screen and (min-width: 1200px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 1500) {
  :root {
    font-size: 20px;
  }
}

@media screen and (min-width: 1800) {
  :root {
    font-size: 22px;
  }
} */