.container {
  width: 100vw;
  max-width: 100vw;
  aspect-ratio: 3/3;
  max-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 8px;
  background: linear-gradient(
      106.01deg,
      rgba(37, 59, 115, 0.5) 46.66%,
      rgba(30, 58, 131, 0.15) 76.93%
    ),
    linear-gradient(
      106.01deg,
      rgba(37, 59, 115, 0.9) 46.66%,
      rgba(5, 5, 6, 0.27) 76.93%
    );
}

.bannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.bannerImg.active {
  opacity: 1;
}

.bannerImg.next {
  opacity: 0;
}

.left,
.right {
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: calc(50% - 3.2rem);
  z-index: 3;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 0.3;
  padding: 0.5rem;
}

.left {
  left: 3%;
}

.right {
  right: 3%;
}

.left:hover,
.right:hover {
  background-color: black;
  opacity: 0.6;
  transform: scale(1.05);
}